:root {
  --primary: #d81e5n;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "fire Sans", sans-serif;
}
body {
  background-color: var(--light);
}

.App {
  display: flex;
  /* min-height: 100vh; */
  /* height: 500px; */
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba;
}

.display {
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.display span {
  font-size: 14px;
  color: #888;
}

.button {
  appearance: none;
  border: none;
  background-color: #eee;
  outline: none;
  color: white;
  font-size: 20px;
  padding: 25px;
  height: 50px;
  margin: 50px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
}
.operators {
  display: flex;
}
.operators button {
  flex: 1 1 0%;
  background-color: var(--primary);
  font-weight: 700;
}

.digits {
  display: flex;
  flex-wrap: wrap;
  color: var(--light);
}

.digits button {
  flex: 1 1 33.3333%;
  max-width: 33.3333%;
  color: white;
  background-color: var(--dark);
}
